<%= form_for(@question) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :ident %>
  <%= f.text_field :ident %>
  <span>Benötigt. Muss eindeutig sein bzgl. aller Fragen.</span>

  <%= f.label :text %>
  <%= f.text_area :text, "data-preview" => "#preview"  %>
  <span>Benötigt<%=render "latex/help"%></span>
  <div id="preview"><%= render_tex(@question.text) %></div>

  <%#= render "form_single_parent_select", f: f %>

  <%= f.label :parent, "Elter" %>
  <% if @question.parent %>
    <div style="float:left">
      <input type="hidden" name="parent" value="<%=@question.parent_html_ref%>"/>
      <%=@question.parent.link_text%>
      <a data-replace-parent-url="<%=single_parent_select_path(parent: @question.parent_html_ref)%>" data-disable-with="…lädt…">(anderes Eltern-Element wählen?)</a>
    </div>
  <% else %>
    <%= render "form_single_parent_select" %>
  <% end %>

  <%= f.label :difficulty, "Fragentyp" %>
  <%= f.select :difficulty, Difficulty.to_select %>

  <%= f.label :study_path %>
  <%= f.select :study_path, StudyPath.to_select %>
  <span>(Diese Frage ist gedacht für…)</span>

  <%#= f.label :video_link %>
  <%#= f.text_field :video_link   %>

  <%= f.label :released %>
  <%= f.check_box :released %>

  <%= f.submit @question.new_record? ? "Frage anlegen" : "Speichern", class: "button primary big" %>

  <br class="clear"/>
  <%= link_to("Zurück zur Kategorie", @category) if @category %>
  <%= link_to("Zurück zur Frage", @anwer.question) if @anwer %>
<% end %>
