<table id="index" class="tablesorter">
  <thead>
    <tr>
      <th>Ident<br/>Typ<br/>Studiengang<br/>Elternname</th>
      <th>Text</th>
      <th>%-richtig<br/>%-übersprungen<br/>%-ok? (Review)</th>
      <th>Antworten</th>
      <th>Aktionen</th>
    </tr>
  </thead>
  <tbody>
    <%
      counts = get_question_stat_counts(@questions)
      revs = Review.group(:question_id, :okay).count
    %>
    <% @questions.each do |q| %>
      <tr>
        <td>
          <div style="width: 400px">
            <%=link_to(q.ident, question_path(q), :class => q.complete? ? "" : "strike")%><br/>
            <%=q.difficulty(:name) %><br/>
            <%=q.study_path(:name) %><br/>
            <%=link_to_parent(q)%>
          </div>
        </td>
        <td>
          <div style="width: 350px; max-height: 120px; overflow: hidden;">
            <%= q.text %>
          </div>
        </td>
        <td>
          ✓&nbsp;<%=perc(counts[:correct][q.id], counts[:all][q.id], "nie beantwortet") %><br/>
          ↷&nbsp;<%=perc(counts[:skip][q.id], counts[:all][q.id], "nie beantwortet")%><br/>
          ☯&nbsp;<%=perc(revs[[q.id, true]], (revs[[q.id, true]] || 0) + (revs[[q.id, false]] || 0), "keine Reviews")%><br/>
        </td>
        <td>
          <% q.answers.each do |a| %>
            <%= content_tag :span, a.id.to_s, title: a.text, class: a.correct? ? "correct" : "wrong" %>
            <br/>
          <% end %>
        </td>
        <td>
          <%= link_to "Anzeigen", question_path(q) %><br/>
          <%= link_to "Bearbeiten", edit_question_path(q) %><br/>
          <%= link_to "Neue Antwort", new_question_answer_path(q) %><br/>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
