<% cache("question/render_review/#{@question.id}/#{@question.content_changed_at}") do %>
<%=render_tex(@question.text)%><br/><br/>

<% if question.hints.any? %>
   <strong>Hinweise:</strong>
  <ol>
  <% question.hints.each do |h| %>
    <li><%=render_tex(h.text)%></li>
  <% end %>
  </ol><br/>
<% end %>

<% if question.matrix_validate? %>
  <strong>Lösung:</strong><br/>
  <%=render_tex question.answers.first.text %>
<% else %>
  <strong>Antwortmöglichkeiten:</strong>
  <table class="evenodd spaced">
    <tr><th></th><th>Text</th><th>Verweise / Subfragen</th></tr>
    <%  question.answers.each do |a| %>
      <tr>
        <td><%=render_correctness(a)%></td>
        <td><%=render_tex a.text%></td>
        <td>
          <% a.questions.each do |q| %>
            <%= link_to q.ident, question_review_path(q) %>
          <% end %>
          <% a.categories.each do |c| %>
            {<%= c %>:
            <% c.questions.each do |q| %>
              <%= link_to q.ident, question_review_path(q) %>
            <% end %>
            }
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<% end %>
