<% provide(:title, "Frage bearbeiten: #{@question.ident}") %>

<div>
  <%= render "admin/action_menu" %>

  <h2>Frage bearbeiten</h2>

  <%= render "form" %>

  <br/>
  <%= link_to "Zurück zur Frage", @question %><br/>
  <%= link_to "Zurück zu den Reviews", question_review_path(@question) %><br/>
  <%= link_to "Zurück zur Fragenliste", questions_path %>
</div>
