<% provide(:title, "Fragenliste") %>

<%= render "admin/action_menu" %>

<div>
  Es werden nur Kategorien mit Fragen angezeigt. Eine aufgeklappte Kategorie enthält <em>nur direkte Fragen</em>, d.h. Subfragen werden nicht berücksichtigt. Stattdessen erscheinen diese unter „Subfragen oder Fragen ohne Elter“.
</div>

<div>
  <h2>Subfragen oder Fragen ohne Elter</h2>
  <div class="toggle search-content-urls" style="display: none">
    <div data-content-url="<%=list_cat_questions_path(category_id: "-1")%>">…lädt…</div>
  </div>
</div>


<% @categories.group_by { |c| c.title.split(":").first }.each do |group_title, cats| %>
<div>
  <% if cats.size == 1 %>
    <h2><%= cats.first.title %> <small>(<%=cats.first.questions_count%> Fragen)</small></h2>
      <div class="toggle search-content-urls" style="display: none">
        <div data-content-url="<%=list_cat_questions_path(category_id: cats.first.id)%>">…lädt…</div>
    </div>
  <% else %>
    <h2><%=group_title%></h2>
    <% cats.each do |c| %>
      <h3><%= c.title.split(":").last %> <small>(<%=c.questions_count%> Fragen)</small></h3>
      <div class="toggle search-content-urls" style="display: none">
        <div data-content-url="<%=list_cat_questions_path(category_id: c.id)%>">…lädt…</div>
      </div>
    <% end %>
  <% end %>
</div>
<% end %>
