<% provide(:title, "Frage #{@question.ident}") %>

<%= render "admin/action_menu" %>

<div>
  <%= render "action_menu" %>
  <h2>Frage <%=@question.ident%></h2>
  <%=trace_to_root_formatter @question.trace_to_root(true)%>

  <table>
    <tr>
      <th>Elter</th>
      <td><%= link_to_parent(@question) %></td>

      <th>Gültig?</th>
      <td>
        <% if @question.complete? %>
          ja
        <% else %>
          <span class="wrong">nein: <%= @question.incomplete_reason %></span>
        <% end %>
      </td>

      <th>richtig?</th>
      <td><%= number_to_percentage(@question.correct_ratio*100, :precision => 2) %> (<%=@question.correct_count%>)</td>
    </tr>
    <tr>
      <th>Typ</th>
      <td><%= @question.difficulty(:name) %></td>

      <th>Reviews</th>
      <td>
        <% cnt = Review.unscoped.where(:question_id => @question.id).group(:okay).count %>
        <span class="correct">✓ <%=cnt[true] || 0%></span>&nbsp;&nbsp;
        <span class="wrong">✗ <%=cnt[false] || 0%></span>&nbsp;&nbsp;
        <%=link_to "Reviews anzeigen", question_review_path(@question) %>
      </td>

      <th>übersprungen?</th>
      <td><%= number_to_percentage(@question.skip_ratio*100, :precision => 2) %> (<%=@question.skip_count%>)</td>
    </tr>

    <tr>
      <th>Studiengang</th>
      <td><%= @question.study_path(:name) %></td>

      <th>Matrix-Mode?</th>
      <td><%= @question.matrix_validate? %></td>

      <th>⌀-Zeit</th>
      <td><%= tt = @question.avg_time_taken; "#{(tt/60).floor}m #{(tt%60).round}s" %></td>
    </tr>

    <tr><th>Video Link</th><td colspan="5"><%=@question.video_link%></td></tr>
    <tr><td span="6"></td></tr>

    <tr><th>Text</th><td colspan="5"><%=@question.text%></td></tr>
    <% if @question.text.include?("§") or @question.answers.any? { |a| a.text.include?("§") } %>
      <tr><th>Hinweis</th><td colspan="5">Diese Frage (oder eine der Antworten) verwendet die alte §-Notation. Bitte bei Gelegenheit auf die $-Notation umstellen, da die §-Unterstützung verschwinden wird.</td></tr>
    <% end %>
  </table>

  <h3>Antworten</h3>
  <% counts = get_answer_stat_counts(@question) %>
  <table id="answertable" class="tablesorter">
    <thead><tr><th>Text</th><th>Korrekt?</th><th title="wie häufig wird diese Antwort angekreuzt" style="cursor: help">✓-%</th><th>Subfragen</th><th>Subkategorie</th><th>Aktionen</th></tr></thead>
    <tbody>
    <% @question.answers.each do |a| %>
      <tr>
        <%= content_tag :td, a.text[0..50] %>
        <%= content_tag :td, a.correct %>
        <%= content_tag :td, perc(counts[a.id], counts[:all], "nie beantwortet") %>
        <td>
          <% a.questions.each do |q| %><%= link_to q.ident, q %><% end %>
        </td>
        <td>
          <% a.categories.each do |c| %><%= link_to c.ident, c %><% end %>
        </td>
        <td>
          <%=link_to 'Bearbeiten', edit_question_answer_path(@question, a) %>
          <%=link_to 'Neue Kategorie hier', new_category_path(:parent => a.id) %>
          <%=link_to 'Neue Frage hier', new_question_path(:parent => "Answer_#{a.id}") %>
          <%=link_to 'Löschen', question_answer_path(@question, a), method: :delete, confirm: "Es wird nur die Antwort gelöscht. #{a.questions.size} hängen danach in der Luft und #{a.categories.size} Kategorien werden möglicherweise zu Wurzel-Kategorien.\n\nFortfahren?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>
  <br/>
  <br/>
  <h3>Hinweise</h3>
  <table id="hinttable" class="tablesorter">
    <thead><tr><th>Sortierung</th><th>Text</th><th>Aktionen</th></tr></thead>
    <tbody>
    <% @question.hints.each do |h| %>
      <tr>
        <%= content_tag :td, h.sort_hint %>
        <%= content_tag :td, h.text[0..100] %>
        <td>
          <%=link_to 'Bearbeiten', edit_question_hint_path(@question, h) %>
          <%=link_to 'Löschen', question_hint_path(@question, h), method: :delete, confirm: "Hinweis wirklich löschen?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>

  <%= render "action_menu" %>
</div>

<div>
  <h2><%=latex_logo_large%> Preview</h2>
  <%=link_to "direkt im Hitme-Modus anschauen (so wie es später die Nutzer sehen)", "#{main_hitme_path}#hide-options#question=#{@question.id}" %>

  <%= render "render", question: @question %>
  <% @question.hints.each do |h| %>
    <% @hint = h %>
    <%= render "hints/render" %>
  <% end %>

  <% @question.answers.each do |a| %>
    <div><%= render_tex a.text %></div>
  <% end %>
</div>

<div>
  <%=render_dot(@question.dot_region(true))%>
</div>
