<% provide(:title, "Frage #{@question.ident}") %>

<div>
  <%= render "admin/action_menu" %>
  <%= render "action_menu" %>
  <h2>Frage <%=@question.ident%></h2>

  <table>
    <tr><th>Elter</th><td><%= link_to_parent(@question) %></td></tr>
    <tr><th>Härte</th><td><%= @question.difficulty(:name) %></td></tr>
    <tr><th>richtig?</th><td><%= number_to_percentage(@question.correct_ratio*100, :precision => 2) %> (<%=@question.correct_count%>)</td></tr>
    <tr><th>übersprungen?</th><td><%= number_to_percentage(@question.skip_ratio*100, :precision => 2) %> (<%=@question.skip_count%>)</td></tr>
    <tr><th>Studiengang</th><td><%= @question.study_path(:name) %></td></tr>
    <tr><th>Matrix-Mode?</th><td><%= @question.matrix_validate? %></td></tr>
    <tr><th>Gültig?</th><td><%= @question.complete? %>, <%= @question.incomplete_reason %></td></tr>
    <tr><th>Text</th><td><%=@question.text%></td></tr>
  </table>

  <h3>Antworten</h3>
  <% counts = get_answer_stat_counts(@question) %>
  <table id="answertable" class="tablesorter">
    <thead><tr><th>Ident</th><th>Text</th><th>Korrekt?</th><th title="wie häufig wird diese Antwort angekreuzt" style="cursor: help">✓-%</th><th>Subfragen</th><th>Subkategorie</th><th>Aktionen</th></tr></thead>
    <tbody>
    <% @question.answers.each do |a| %>
      <tr>
        <%= content_tag :td, a.ident %>
        <%= content_tag :td, a.text[0..50] %>
        <%= content_tag :td, a.correct %>
        <%= content_tag :td, perc(counts[a.id], counts[:all], "nie beantwortet") %>
        <td>
          <% a.questions.each do |q| %><%= link_to q.ident, q %><% end %>
        </td>
        <td>
          <% a.categories.each do |c| %><%= link_to c.ident, c %><% end %>
        </td>
        <td>
          <%=link_to 'Bearbeiten', edit_question_answer_path(@question, a) %>
          <%=link_to 'Neue Kategorie hier', new_category_path(:parent => a.id) %>
          <%=link_to 'Neue Frage hier', new_question_path(:parent => "Answer_#{a.id}") %>
          <%=link_to 'Löschen', question_answer_path(@question, a), method: :delete, confirm: "Es wird nur die Antwort gelöscht. #{a.questions.size} hängen danach in der Luft und #{a.categories.size} Kategorien werden möglicherweise zu Wurzel-Kategorien.\n\nFortfahren?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>
  <br/>
  <br/>
  <h3>Hinweise</h3>
  <table id="hinttable" class="tablesorter">
    <thead><tr><th>Sortierung</th><th>Text</th><th>Aktionen</th></tr></thead>
    <tbody>
    <% @question.hints.each do |h| %>
      <tr>
        <%= content_tag :td, h.sort_hint %>
        <%= content_tag :td, h.text[0..100] %>
        <td>
          <%=link_to 'Bearbeiten', edit_question_hint_path(@question, h) %>
          <%=link_to 'Löschen', question_hint_path(@question, h), method: :delete, confirm: "Hinweis wirklich löschen?" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>

  <%= render "action_menu" %>
</div>

<div>
  <h2><%=latex_logo_large%> Preview</h2>
  <%=link_to "direkt im Hitme-Modus anschauen (so wie es später die Nutzer sehen)", "#{main_hitme_path}#hide-options#question=#{@question.id}" %>

  <%= render "render", question: @question %>
  <% @question.hints.each do |h| %>
    <% @hint = h %>
    <%= render "hints/render" %>
  <% end %>

  <% @question.answers.each do |a| %>
    <%= render "answers/render", answer: a %>
  <% end %>
</div>

<div>
  <%=render_dot(@question.dot_region)%>
</div>
