<div>
  <%= render "admin/action_menu" %>
  <%= render "action_menu" %>
  <h2>Frage <%=@question.ident%></h2>

  <table>
    <tr><th>Elter</th><td><%= link_to_parent(@question) %></td></tr>
    <tr><th>Matrix-Mode?</th><td><%= @question.matrix_validate? %></td></tr>
    <tr><th>Gültig?</th><td><%= @question.complete? %>, <%= @question.incomplete_reason %></td></tr>
    <tr><th>Text</th><td><%=@question.text%></td></tr>
  </table>

  <h3>Antworten</h3>
  <table id="answertable" class="tablesorter">
    <thead><tr><th>Ident</th><th>Text</th><th>Korrekt?</th><th>Aktionen</th></tr></thead>
    <tbody>
    <% @question.answers.each do |a| %>
      <tr>
        <%= content_tag :td, a.ident %>
        <%= content_tag :td, a.text[0..50] %>
        <%= content_tag :td, a.correct %>
        <td>
          <%=link_to 'Bearbeiten', edit_question_answer_path(@question, a) %>
          <%=link_to 'Neue Kategorie hier', new_category_path(:parent => a.id) %>
          <%=link_to 'Neue Frage hier', new_question_path(:parent => "Answer_#{a.id}") %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>
  <br/>
  <br/>
  <h3>Hinweise</h3>
  <table id="hinttable" class="tablesorter">
    <thead><tr><th>Sortierung</th><th>Text</th><th>Aktionen</th></tr></thead>
    <tbody>
    <% @question.hints.each do |h| %>
      <tr>
        <%= content_tag :td, h.sort_hint %>
        <%= content_tag :td, h.text[0..100] %>
        <td><%=link_to 'Bearbeiten', edit_question_hint_path(@question, h) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br/>

  <%= render "action_menu" %>
</div>

<div>
  <h2><%=latex_logo_large%> Preview</h2>

  <%= render "render" %>
  <% @question.hints.each do |h| %>
    <% @hint = h %>
    <%= render "hints/render" %>
  <% end %>

  <% @question.answers.each do |a| %>
    <% @answer = a %>
    <%= render "answers/render" %>
  <% end %>
</div>

<div>
  <%=render_dot(@question.dot_region)%>
</div>
