<% provide(:title, "Rückmeldung geben") %>

<div>
  <h2>Rückmeldung geben</h2>

  <p>KeKs soll Dir helfen.</p>
  <p>Sag uns, wie wir KeKs für Dich verbessern können.</p>

  <form method="POST" action="<%=feedback_send_path%>">
    <%= token_tag(nil) %>

    <%= label_tag :text %>
    <%= text_area_tag :text, @text  %>
    <span>Benötigt</span>

    <% if signed_in? %>
      <br class="clear"/>
      <a onclick="$('#name').val('<%=j current_user.nick%>'); $('#mail').val('<%=j current_user.mail %>'); return false;" class="clear">Klicken, um Deine Kontaktdaten zu übernehmen</a>
    <% end %>

    <%= label_tag :name %>
    <%= text_field_tag :name, @name %>
    <span>Optional</span>



    <%= label_tag :mail %>
    <%= email_field_tag :mail, @mail %>
    <span>Optional</span>


    <%= submit_tag "Mail absenden", :class => 'button primary big' %>
  </form>
</div>
