<% provide(:title, "Fragen beantworten") %>

<%= render "noscript_warning" %>

<div>
  <h2>Optionen</h2>
  <div class="toggle clear smallform" id="options">
    <script>if(window.location.hash == "#hide-options") $("#options").hide(); </script>
    <%= label_tag :quantity, 'Anzahl' %>
    <%= number_field_tag :quantity, 5, :in => 3..100, :step => 5, :onblur => 'validateNumberOnly(this)'  %>
    <span>Wie viele Fragen möchtest Du bekommen?</span>


    <%= label_tag :study_path, "Studiengang" %>
    <%= select_tag :study_path, options_for_select(StudyPath.to_select, :selected => current_user ? current_user.study_path : nil) %>
    <span>Zu welchem Studiengang sollen die Spezialfragen passen?</span>

    <%= label_tag :subquestions, 'Nachfragen' %>
    <%= check_box_tag :subquestions, 1, true %>
    <span>Möchtest Du Rückfragen, die von Deiner Antwort abhängen?</span>

    <%= label_tag :comiccheckbox, 'Comic' %>
    <%= check_box_tag :comiccheckbox, 1, true %>
    <span>Soll nach einem Fragenblock ein Comic (XKCD) angezeigt werden?</span>

    <br class="clear"/><br/>
    <b>Fragentypen</b><br/>
    <% Difficulty.all.each do |id, name| %>
      <%= label_tag "difficulty[#{id}]", name, style: "font-weight: normal" %>
      <%= check_box_tag "difficulty[#{id}]", id, true %>
    <% end %>
  </div>

  <h2>Kategorien</h2>
  Aus welchen Kategorien möchtest Du Fragen erhalten?<br/><br/>

  <ul class="inline-chooser" id="categories">
    <%
      groups = Category.root_categories.group_by do |c|
        c.title_split[0]
      end.sort_by { |a, b| a[0] <=> b[0] }
    %>

    <% groups.each do |g| %>
      <li>
        <%= content_tag "h3", (g[0].empty? ? "Sonstige" : g[0]) %>
        <div class="toggle"><ul>
          <% g[1].sort { |a, b| a.ident <=> b.ident }.each do |r| %>
            <li>
              <div>
                <a class="button big toggleable" onclick="$(this).toggleClass('active');" data-id="<%=r.id%>">
                  <%=render_tex r.title_split[1] %>
                </a>
              </div>
              <%=render_tex r.text %>
            </li>
          <% end %>
        </ul></div>
      </li>
    <% end %>
  </ul>

  <h3>Alles Fertig?</h3>
  <a class="button huge" onclick="H.hitme()" id="start-button">Los geht’s! <!--Whatever--></a>
</div>
