<% provide(:title, "Startseite") %>

<div>

  <ul class="chooser">
    <li>
      <%= link_to "Gleich loslegen", main_hitme_path(:anchor => "hide-options"), :class => "button big" %>
      Für ganz Eilige. Nur Fragengebiet wählen und los geht’s. Kein Login notwendig.
      <link rel="prefetch prerender" href="<%=main_hitme_path(:anchor => "hide-options")%>">
    </li>

    <% if signed_in? %>
    <li>
      <%= link_to "Ausloggen", signout_path, :class => "button big", method: :delete %>
    </li>
    <% else %>
    <li>
      <p class="left">
        <%= link_to "Einloggen", signin_path, :class => "button big", :style => "margin-bottom: 5px;"%><br/>
        <%= link_to "Neuer Account", signup_path, :class => "button big" %>
      </p>
      <p class="right">
        Wenn Du Dir einen Account erstellst, merkt sich das System welche Fragen Du wie beantwortet hast und wählt die zukünftigen Fragen entsprechend aus. Außerdem kannst Du dir alle bereits beantworteten Fragen und deine persönliche Statistik ansehen sowie ausgewählte Fragen speichern.
      </p>
    </li>
    <link rel="prefetch prerender" href="<%=signin_path%>">
    <% end %>
  </ul>
</div>
