<% cache("admin/export_question/#{question.id}/#{question.content_changed_at}") do %>
<%
  all_sub_q = []
  feedback_text = "Liebes KeKs Team,\n\nbzgl. Frage #{question.ident} möchte ich euch sagen:\n\n\n\nViele Grüße\n\nFrage als Admin ansehen:\n#{question_url(question)}"
%>


<h3>
  <%= question.complete? ? '' : 'UNFERTIGE ' %>
  Frage: <%= question.ident %>
  –– <%= link_to "Feedback zu dieser Frage", feedback_path(text: feedback_text) %>
</h3>

<% @question = question %>
<%= render "questions/render_review", question: question %>

<hr/>


<% question.answers.each { |a| all_sub_q << a.get_all_subquestions }%>
<% all_sub_q = all_sub_q.flatten.uniq#.reject { |q| !q.complete? } %>
<% if all_sub_q.any? && max_depth >= 0 %>
  <% all_sub_q.each do |q| %>
    <div style="padding-left:20px;border-left:1px solid #ddd">
      <%= render 'export_question', question: q, max_depth: (max_depth-1) %>
    </div>
  <% end %>
<% end %>

<% end %>
