<% provide(:title, "Admin Übersicht") %>

<div>
  <%= render "action_menu" %>
  <h2>Statistiken</h2>

  <%= link_to "Nutzungsstatistik", stat_activity_report_path %><br/>
  <%= link_to "Statistik nach Wurzel-Kategorien", stat_category_report_path %><br/>
  <% EnrollmentKeys.all.each do |id, name| %>
    <%= link_to name, stat_report_path(name) %>
  <% end %>
</div>

<div>
  <h2>Dateneingabe</h2>
  <em>Nur für Sabrina und Rebecca Esz.</em>
  <p>
    <b>Wie funktioniert das?</b><br/>

    Eine Kategorie hat viele Fragen. Eine Frage hat viele Antworten. Eine Antwort verweist auf Kategorien und/oder Fragen. Im Umkehrschluss hat jede Frage <em>genau ein</em> Eltern-Element, nämlich Kategorie ⊕ Antwort. Fehlt dieses Eltern-Element wird die Frage nicht berücksichtigt. Kategorien gehören entweder zu einer Antwort oder haben kein Eltern-Element. Dann sind sie eine Wurzel und werden dem Nutzer am Anfang zur Auswahl angeboten.
  </p>

  <%= render "action_menu" %>
</div>

<div>
  <h2>Export</h2>
  <p>
    Auf dieser öffentlichen Seite sind alle Fragen aufgelistet, inkl. Antworten und Hinweisen. Jeder große Block ist eine Wurzel-Kategorie, Unterkategorien werden nicht mehr angezeigt. Die Fragen sind aber entsprechend ihrer Tiefe eingerückt. Die Seite ist für Admins und Reviewer (wenn sie den Link kennen) einsehbar.
  </p>

  <%= link_to "Review/Export Seite", export_path, confirm: "Danger Zone! Hohe Belastung für den Server und Deinen Rechner. Schließe zuerst ein Netzteil an und hole Dir anschließend einen Kaffee. Fortfahren?" %>
</div>

<div>
  <h2>Ein Baum sie zu knechten</h2>
  <p>Du kannst eine vollständige Übersicht aller Kategorien, Fragen, Antworten, Hinweise und deren Verknüpfungen herunterladen. Die Erstellung erfolgt jedes Mal live und dauert daher etwas.</p>

  <h3>als .DOT / Preview mit xdot</h3>
  <p><%=link_to "Download als .DOT", tree_url + ".dot" %> (mit Inkscape öffnen)</p>
  <p>Installiere Dir zuerst <tt>xdot</tt> (etwa <tt>apt-get install xdot</tt>). Danach kannst Du Dir mit folgendem Befehl den Graphen anzeigen lassen und flüssig darin scrollen.<br/><b>Beachte:</b> Der Baum ist riesig, daher siehst Du am Anfang meist gar nichts. Klicke daher zuerst ein paar Mal auf den Zoom-In Button.</p>
  <pre>wget -q -O - <%=tree_url%>.dot | xdot</pre>

  <h3 class="toggle-closed">als .SVGZ / Preview mit evince</h3>
  <div class="toggle" style="display: none">
    <p><%=link_to "Download als .SVGZ", tree_url + ".svgz" %> (mit Inkscape öffnen)</p>
    <p>Auf den meisten Linuxsystemen sollte folgender Befehl den Baum herunterladen und mit Evince anzeigen, sofern Inkscape installiert ist:</p>
    <pre>pushd $TMP \
      && rm -f tree.svgz \
      && wget -q <%=tree_url%>.svgz \
      && inkscape tree.svgz --export-pdf=tree.pdf \
      && evince tree.pdf \
      && rm tree.svgz; \
      popd
    </pre>
  </div>
</div>
