<% provide(:title, "Nutzerübersicht") %>

<div>
  <%= render "admin/action_menu" %>

  <h2>Herrscher</h2>
  <p><b>Hinweis:</b> Den Admin- oder Reviewer-Status eines Nutzers umzuschalten zwingt sie zum erneuten Login. Beherrsche daher Deinen Spieltrieb.</p>

  <table class="tablesorter" id="power-index">
    <thead><tr><th>Name</th><th>Macht</th><th># Reviews</th><th>Aktion</th></tr></thead>
    <tbody><% @admins.each do |u| %>
      <tr>
        <td><%=u.nick%></td>
        <td><%=u.admin? ? "Admin" :""%> <%=u.reviewer? ? "Reviewer" :""%></td>
        <td><%=u.reviews.count%></td>
        <td>
          <%=link_to "Reviewer-Status umschalten", user_toggle_reviewer_path(u.id), method: :put %>
          <%=link_to "Admin-Status umschalten", user_toggle_admin_path(u.id), method: :put %>
        </td>
      </tr>
    <% end %></tbody>
  </table>
</div>

<div>
  <h2>Günstlinge</h2>

  <table class="tablesorter" id="user-index">
    <thead><tr><th>Name</th><th># Fragen</th><th>Studiengang</th><th>Aktion</th></tr></thead>
    <tbody><% @users.each do |u| %>
      <tr>
        <td><%=u.nick%></td>
        <td><%=@stat_counts[u.id] || 0%></td>
        <td><%=StudyPath[u.study_path]%></td>
        <td>
          <%=link_to "zum Reviewer machen", user_toggle_reviewer_path(u.id), method: :put %>
          <%=link_to "zum Admin machen", user_toggle_admin_path(u.id), method: :put %>
        </td>
      </tr>
    <% end %></tbody>
  </table>
</div>
