<% provide(:title, "Nutzerübersicht") %>

<%= render "admin/action_menu" %>

<% cache("user_index_#{User.last_update}") do %>
<div>
  <h2>Admins und Reviewer</h2>
  <table class="tablesorter" id="power-index">
    <thead><tr><th>Name</th><th>Macht</th><th># Reviews</th><th>Aktion</th></tr></thead>
    <tbody><% @admins.each do |u| %>
      <tr>
        <td><%=u.nick%></td>
        <td><%=u.admin? ? "Admin" :""%> <%=u.reviewer? ? "Reviewer" :""%></td>
        <td>
          <%=@reviews_count[u.id] || 0%>
          (<%=link_to "anzeigen", user_reviews_path(u)%>)
        </td>
        <td>
          <%=link_to "Reviewer-Status umschalten", user_toggle_reviewer_path(u.id), method: :put %>
          <%=link_to "Admin-Status umschalten", user_toggle_admin_path(u.id), method: :put %>
        </td>
      </tr>
    <% end %></tbody>
  </table>
</div>

<div>
  <h2>Normale Nutzer</h2>

  <table class="tablesorter" id="user-index">
    <thead><tr><th>Name</th><th>Studiengang</th><th>Aktion</th></tr></thead>
    <% url_prefix = "#{ENV['RAILS_RELATIVE_URL_ROOT']}/admin/toggle" %>
    <tbody><% @users.each do |u| %>
      <tr>
        <td><%=u.nick%></td>
        <td><%=StudyPath[u.study_path]%></td>
        <td>
          <%# not using helpers because they are about three times slower %>
          <a rel="nofollow" data-method="put" href="<%="#{url_prefix}_reviewer/#{u.id}"%>">zum Reviewer machen</a>
          <a rel="nofollow" data-method="put" href="<%="#{url_prefix}_admin/#{u.id}"%>">zum Admin machen</a>
        </td>
      </tr>
    <% end %></tbody>
  </table>
</div>
<% end %>
