<%= form_for([@question, @answer]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :text %>
  <%= f.text_area :text, "data-preview" => "#preview" %>
  <span>Benötigt.<br/><br/><b>Für Matrix Berechnungen:</b> Ist genau eine <code>\begin{pmatrix} … \end{pmatrix}</code> enthalten, wird<br/>diese zur Validierung genutzt. Es darf dann nur eine Antwort geben. Correct muss auf wahr stehen. <br/><br/><%= render "latex/help" %><br/></span>

  <div id="preview"><%= render_tex(@answer.text) %></div>

  <%= f.label :correct %>
  <%= f.check_box :correct %>





  <%= f.submit @answer.new_record? ? "Antwort anlegen" : "Speichern", class: "button primary big" %>
  <br style="clear:both"/><br/>
  <%=link_to "Zurück zur Frage", @question %>
<% end %>
