<p>Wenn diese Kategorie ein neues Themengebiet sein soll, darf kein Eltern-Element angegeben werden. Ansonsten wähle eine Antwort aus, an die diese Kategorie anschließen soll.</p>


<%= form_for(@category) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :ident %>
  <%= f.text_field :ident %>
  <span>Benötigt. Muss eindeutig sein bzgl. aller Kategorien.</span>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <span>Benötigt. Gruppieren z.B. so "Ostasien: Kunstgeschichte"</span>

  <%= f.label :text %>
  <%= f.text_area :text, "data-preview" => "#preview"  %>
  <span>Optional<%=render "latex/help"%></span>
  <div id="preview"><%= render_tex(@category.text) %></div>

  <%= f.label :is_root %>
  <%= f.check_box :is_root, onclick: "$('#parent-selector-wrapper')[this.checked ? 'hide' : 'show']();" %>

  <div id="parent-selector-wrapper" class="clear">
    <%= f.label :answers, "Eltern-Elem." %>

    <%
      root_cats =  Category.where(is_root: true)
      # extends the answer table to include the question ident and parent
      # category ID, if available.
      answers = Answer.find_by_sql("SELECT a.id aid, q.ident qident, c.id cid FROM answers a LEFT JOIN questions q ON a.question_id = q.id LEFT JOIN categories c ON q.parent_type = 'Category' AND q.parent_id = c.id")
      selected_answers = @category.answer_ids

      def option_tags(answers, selected)
        # i.e. create text ⇒ id hash
        opts = Hash[ *answers.collect { |a| [ "#{a.qident}/A#{a.aid}", a.aid ] }.flatten ]
        options_for_select(opts, selected)
      end
    %>

    <select id="category_answer_ids" multiple="multiple" name="category[answer_ids][]" style="width: 80%; height: 400px">
      <% root_cats.each do |rc| %>
        <optgroup label="<%=rc.title%>">
          <%=
            here, answers = *answers.partition { |a| a.cid == rc.id }
            option_tags(here, selected_answers)
          %>
        </optgroup>
      <% end %>

      <% if answers.any? %>
        <optgroup label="Antworten, die zu keiner Wurzel-Kategorie gehören (Antworten von Subfragen)">
          <%= option_tags(answers, selected_answers) %>
        </optgroup>

      <% end %>
    </select>

    <style scoped>
      @import url("//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/flick/jquery-ui.min.css");
      .ui-widget{
        font-size:12px;
        line-height: 15px;
      }
      .uix-search {
        height: 20px;
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <%= javascript_include_tag "jquery.uix.multiselect.min" %>

    <script>
      $('#category_answer_ids').multiselect({ height: '400px'});
      $(document).ready(function() {
        $(".group-element-collapsable").click(function() {
          $(this).find(".collapse-handle").click();
        }).trigger("click");
      });

      if(<%=@category.is_root?%>) { // need to wait for multiselect init
        $('#parent-selector-wrapper').hide();
      }
    </script>
    <br class="clear"/>
    <span>Welche Antworten sollen auf auf diese Kategorie verweisen?</span>
  </div> <!-- # parent-selector-wrapper -->

  <%= f.label :released %>
  <%= f.check_box :released %>
  <% unless @category.new_record? %>
    <span>(<%=link_to "Kategorie + Unterfragen freigeben", release_category_path(@category), confirm: "Dies wird diese Kategorie und alle #{@category.questions.size} direkten Unterfragen freigegeben.\n\nDeine Änderungen werden nicht gespeichert.\nFortfahren?" %>)</span>
  <% end %>


  <%= f.submit @category.new_record? ? "Kategorie anlegen" : "Speichern", class: "button primary big" %>

  <br class="clear"/>
  <br/>
  <%= link_to "Zurück zur Kategorien Liste", categories_path %>
  <% if @answer %>
    <%= link_to "Zurück zur Frage", question_path(@answer.question) %>
  <% end %>
<% end %>
