<% provide(:title, "Kategorienliste") %>

<div>
  <%= render "admin/action_menu" %>
  <h2>Kategorienliste</h2>

  <%=link_to "Neue Kategorie anlegen", new_category_path %>

  <table id="index" class="tablesorter">
    <thead>
      <tr><th>Ident</th><th>Title</th><th>Wurzel?</th><th>Antworten, die auf sie zeigen</th><th>Verknüpfte Fragen</th><th>Aktionen</th></tr>
    </thead>
    <tbody>
      <% @categories.each do |c| %>
        <tr>
          <%=content_tag :td, link_to(c.ident, c, :class => c.released? ? "" : "strike") %>
          <%=content_tag :td, c.title %>
          <%=content_tag :td, c.is_root? %>
          <td>
            <% c.answers.each do |a| %>
              <%=link_to a.ident, [a.question, a] %>
            <% end %>
          </td>
          <td>
            <% c.questions.each do |q| %>
              <%=link_to q.ident, q, :class => q.complete? ? "" : "strike" %>
            <% end %>
          </td>
          <td>
            <%= link_to "Anzeigen", category_path(c) %>
            <%= link_to "Bearbeiten", edit_category_path(c) %>
            <%= link_to "Neue Frage", new_question_path(:parent => "Category_#{c.id}") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
