<% provide(:title, "Kategorienliste") %>

<%= render "admin/action_menu" %>
<div>
  <h2>Kategorienliste</h2>
  <%=link_to "Neue Kategorie anlegen", new_category_path %> |
  <%=link_to "Kategorien mit möglicherweise fehlenden Verknüpfungen anzeigen", suspicious_associations_path %>
</div>

<% @categories.group_by { |c| c.title.split(":").first }.each do |group_title, cats| %>
  <% reset_cycle %>
  <div>
    <h2><%=group_title%></h2>
    <div class="toggle search-content-urls" style="display: none">
      <div data-content-url="<%=index_details_categories_path(cats.map(&:id).join(","))%>">…lädt…</div>
    </div>
    <%= link_to "Aktivieren", activate_category_path(group_title), :confirm => "Are you sure? All categories and questions under #{group_title} will be activated." %> |
    <%= link_to "Deaktivieren", deactivate_category_path(group_title), :confirm => "Are you sure? All categories and questions under #{group_title} will be deactivated." %>
  </div>
<% end %>

<div>
  <h2>Leere Kategorien</h2>
  <p>Folgende Kategorien enthalten keine Fragen.</p>

  <table id="index2" class="tablesorter">
    <thead>
      <tr><th>Ident</th><th>Title</th><th>Wurzel?</th><th>Aktionen</th></tr>
    </thead>
    <tbody>
      <% @empty.each do |c| %>
        <tr>
          <td><%= link_to(c.ident, c, :class => c.released? ? "" : "strike") %></td>
          <td><%= c.title %></td>
          <td>√<%= c.is_root? %></td>
          <td>
            <%= link_to "Anzeigen", category_path(c) %>
            <%= link_to "Bearbeiten", edit_category_path(c) %>
            <%= link_to "Neue Frage", new_question_path(:parent => "Category_#{c.id}") %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
