<% provide(:title, "Kategorie #{@category.ident}") %>

<div>
  <%= render "admin/action_menu"%>
  <%=render "action_menu"%>

  <h2>Kategorie <%=@category.ident%></h2>

  <table>
    <tr><th>Titel</th><td><%=render_tex @category.title%></td></tr>
    <tr><th>Wurzel?</th><td><%=@category.is_root?%></td></tr>
    <tr><th>hat # Fragen</th><td><%=@category.questions.size %></tr>
    <tr><th>Verweise hierher</th><td><%=@category.answers.size %></tr>
    <tr><th>Text</th><td><%=render_tex @category.text %></tr>
  </table>

</div>

<div>
  <h2>Fragen in dieser Kategorie</h2>
  <% @questions = @category.questions %>
  <%= render "questions/index_table" %>
</div>

<div>
  Hinweis: Nachfolger-Antworten werden in diesem Teilgraph ausgelassen und es wird maximal die zweite Fragenebene angezeigt (d.h. (…) → Kategorie → Frage → Subfrage, aber nicht tiefer).<br/><br/>
  <%=render_dot(@category.dot_region)%>

  <br/><br/>
  <%=render "action_menu"%>
</div>
