<%
  limit ||= nil

  cats = {}
  questions.each_with_index do |q, ind|
    roots = q.get_root_categories
    roots.each do |r|
      cats[r] ||= []
      cats[r] << q
    end

    if limit && params[:nolimit] != "1" && ind >= limit-1
      %>
        <b>Hinweis:</b>
        Zeige nur <%=limit%> von <%=questions.size%> Fragen, damit die Seite schnell bleibt.
        <%=link_to "Alles anzeigen (legt Seite lahm, sparsam nutzen)", "?nolimit=1"%>
      <%
      break
    end
  end
%>

<ul>
  <% cats.keys.sort { |c1, c2| c1.ident <=> c2.ident }.each do |cat| %>
    <% quests = cats[cat] %>
    <% in_queue = quests.map { |q| q.id.to_s } %>
    <li><h4 style="margin: 10px 0"><%=cat.title%></h4>
      <div class="toggle" style="display: none"><ul>
      <% quests.each do |q| %>
        <% in_queue.shift %>
        <li><%=link_to q.ident, question_review_path(q, filter: filter, next: in_queue.join(',')) %></li>
      <% end %>
      </ul></div>
    </li>
  <% end %>
</ul>
