<ul class="button-group">
  <li><%= link_to "Mitteilungen", reviews_path, class: 'button primary' %></li>
  <li><%= link_to "Fragen die Deine Aufmerksamkeit benötigen", need_attention_questions_path, class: 'button primary' %></li>
  <li><%= link_to "Meine Reviews", user_reviews_path(current_user), class: 'button' %></li>
  <% if admin? %>
    <li><%= link_to "→ zum Admin-Teil", admin_overview_path, class: 'button' %></li>
  <% end %>
</ul>
<br class="clear"/><br/>

Verschiedenste Fragen-Filter:
<% Review.get_filters.each do |f| %>
  <% next if Review.filter(f)[:hide_in_menu] %>
  <%= link_to Review.filter(f)[:link_title], review_filter_path(f) %> |
<% end %>
