<%
dimmed = question_updated_since? unless defined?(dimmed)
if dimmed
%>
<div style="opacity: 0.7">
<% end %>

<div style="width: 25%; float:left">
  <%= render "reviews/okay_state", okay: review.okay %>

  <table style="margin-top: 0; float: left">
    <tr><th>Schwierigkeit:</th><td><meter value="<%=review.difficulty%>"></meter></td></tr>
    <tr><th>Lerneffekt:</th><td><meter value="<%=review.learneffect%>"></meter></td></tr>
    <tr><th>Spaß:</th><td><meter value="<%=review.fun%>"></meter></td></tr>
  </table>
</div>

<div style="float:left; width: 70%">
  <em>
  <strong><%=review.user.nick %></strong>
  (vor <%= time_ago_in_words(review.updated_at) %>)
  </em>
  <br/>

  <%= render_tex review.comment %>
</div>

<hr class="clear"/>

<% if dimmed %>
</div>
<% end %>
