<% provide(:title, "Fragen, die Deine Aufmerksamkeit benötigen") %>

<%= render "menu"  %>

<% if admin? %>
<div>
  Lieber Admin, am ehesten interessieren Dich die Auflistungen <%= link_to "Fragen mit „nicht okay“", review_filter_path(:not_okay) %> (kaputte Fragen) und <%= link_to "#{REVIEW_MIN_REQUIRED_REVIEWS}+ okay, 0 nicht-okay", review_filter_path(:enough_good_reviews) %> (freischaltbare Fragen).
</div>
<% end %>


<% if reviewer? %>
  <div>
    Lieber Reviewer, nachfolgend findest Du eine Auflistung von Fragen, die am wahrscheinlichsten Deiner Aufmerksamkeit bedürfen. Kommt im Anschluss nichts, gibt’s wohl nichts zu tun. Im Menü oben kannst Du auch nach anderen Sachen filtern.
  </div>

  <% qqs = @updated[:questions] %>
  <% if qqs.any? %>
    <% in_queue = qqs.map { |q| q.id.to_s } %>
    <div>
      <h3><%=@updated[:title]%></h3>
      <p><%=@updated[:text]%></p>
      <ul>
        <% qqs.each do |q| %>
          <% in_queue.shift %>
          <li><%=link_to "#{q.ident} (Frage vor #{time_ago_in_words q.updated_at} geändert)", question_review_path(q, filter: "updated", next: in_queue.join(',')) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% qqs = @need_more_reviews[:questions] %>
  <% if qqs %>
    <div>
      <h3>Fragen, die ein Review brauchen</h3>
      <p>Nachfolgende Fragen haben bisher zu wenig Reviews erhalten. Du hast diese Fragen noch nie reviewt.</p>
      <%= render "generic_question_list", questions: qqs, limit: 50, filter: "need_more_reviews" %>
    </div>
  <% end %>
<% end # is reviewer? %>
