<% provide(:title, "Frage reviewen") %>

<div>
  <%= render "menu"  %>
</div>

<div>
  <h2>Frage <%=@question.ident%></h2>
  <%=trace_to_root_formatter @question.trace_to_root(true)%>
  <span style="color: #777;display: block;margin-top:-10px;margin-bottom: 20px">Fragentyp: <%= @question.difficulty(:name) %> | Studiengang: <%= x=@question.study_path(:name); x.blank? ? "alle" : x %></span>

  <div class="topright">
    <%=link_to "Frage „live“ ansehen", "#{main_hitme_path}#hide-options#question=#{@question.id}" %>
    <% if current_user.admin? %>
      |
      <%= link_to("Bearbeiten", edit_question_path(@question)) %>
    <% end %>
  </div>

  <%= render "questions/render_review", question: @question %>
</div>

<div>
  <h2>Reviews</h2>
  <% if @question.reviews.none? %>
    bisher noch keine.
  <% else %>
    <% question_edit_msg_shown = false %>
    <% @question.reviews.each do |r| %>
      <% if !question_edit_msg_shown && r.question_updated_since? %>
        <%= render "last_update" %>
        <% question_edit_msg_shown = true %>
      <% end %>

      <%= render "show", review: r, dimmed: question_edit_msg_shown %>
    <% end %>

    <%= render "last_update" if !question_edit_msg_shown %>
  <% end %>
</div>


<% if current_user.reviewer? %>
  <%= render "form" %>
<% end %>
