<% provide(:title, "Frage reviewen") %>

<div>
  <%= render "menu"  %>

  <br class="clear"/><br/>
  <% filter = Review.filter(params[:filter]) rescue nil %>
  <% if filter %>
    <%=link_to "Nächste Frage (in „#{filter[:link_title]}“)", review_find_next_path(filter: params[:filter], next: params[:next] || "") %>
  <% end %>
</div>

<div>
  <h2>Frage <%=@question.ident%></h2>
  <%=trace_to_root_formatter @question.trace_to_root(true)%>
  <span style="color: #777;display: block;margin-top:-10px;margin-bottom: 20px">Fragentyp: <%= @question.difficulty(:name) %> | Studiengang: <%= x=@question.study_path(:name); x.blank? ? "alle" : x %></span>

  <div class="topright">
    <%=link_to "Frage „live“ ansehen", "#{main_hitme_path}#hide-options#question=#{@question.id}" %>
    <% if admin? %>
      | <%= render "questions/toggle_release" %>
      | <%= link_to("Bearbeiten", edit_question_path(@question)) %>
    <% end %>
  </div>

  <%= render "questions/render_review", question: @question %>
</div>

<div>
  <h2>Reviews</h2>
  <% if @question.reviews.none? %>
    bisher noch keine.
  <% else %>
    <% question_edit_msg_shown = false %>
    <% @question.reviews.each do |r| %>
      <% if !question_edit_msg_shown && r.question_updated_since? %>
        <%= render "last_update" %>
        <% question_edit_msg_shown = true %>
      <% end %>

      <%= render "show", review: r, dimmed: question_edit_msg_shown %>
    <% end %>

    <%= render "last_update" if !question_edit_msg_shown %>
  <% end %>
</div>


<% if reviewer? %>
  <%= render "form" %>
<% end %>


<div>
  <h2>Graph</h2>
  <p>Zur leichteren Orientierung wo diese Frage anzusiedeln ist findest Du nachfolgend einen Baum-Graphen, der einen Auschnitt zeigt. „Höhere“ Sachen sind links „tiefere“ rechts. D.h. wenn man den ganzen Graph darstellen würde, wären ganz links die auf der Startseite auswählbaren Kategorien.</p>

  <%=render_dot(@question.dot_region(true))%>
</div>
