

<div>
  <h2>Aktivitätsstatistik</h2>
  <ul class="button-group">
    <li><%=link_to "3 Monate",    stat_activity_report_path(range: 91 ), class: :button %></li>
    <li><%=link_to "150 Tage",    stat_activity_report_path(range: 150), class: :button %></li>
    <li><%=link_to "halbes Jahr", stat_activity_report_path(range: 182), class: :button %></li>
    <li><%=link_to "Jahr",        stat_activity_report_path(range: 365), class: :button %></li>
    <li><%=link_to "Alles",       stat_activity_report_path(range: 999999999999999), class: :button %></li>
  </ul>

  <br/>
  Es werden nur Antworten innerhalb der letzten <%=@range%> Tage berücksichtigt.
</div>

<div id="graphs">
  <% content_for :script do %><%= javascript_include_tag "highcharts" %><% end %>
  <%= high_chart("chart_quests", @g_quests) %>
  <%= high_chart("chart_users", @g_users) %>
</div>
