<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag "users", media: "all" %>
  <% if admin? || reviewer? %><%= stylesheet_link_tag "admins", media: "all" %><% end %>
  <link href='https://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Yanone%20Kaffeesatz&amp;text=%20AFGHKLPRSabcdefgiklmnoprstuvwyz–' rel='stylesheet' type='text/css'>
  <title>KeKs – <%=yield(:title)%></title>
  <%= javascript_include_tag "users" %>
  <% if admin? || reviewer? %><%= javascript_include_tag "admins" %><% end %>
  <%= yield :script %>
  <%= csrf_meta_tags %>
  <!--[if lte IE 9]>
  <%= stylesheet_link_tag "die-ie-die" %>
  <![endif]-->
  <script defer type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full,Safe&amp;delayStartupUntil=configured"></script>
  <link rel="icon" type="image/png" href="<%=asset_path("icon-16x16.png")%>" />
  <meta name="mobile-web-app-capable" content="yes"/>
  <link rel="shortcut icon" sizes="196x196" href="<%=asset_path("icon-196x196.png")%>"/>
  <link rel="shortcut icon" sizes="128x128" href="<%=asset_path("icon-128x128.png")%>"/>
</head>
<body class="body-noise">
  <div id="header">
    <h1>KeKs – Kompetenzerweiterndes Kurzfragensystem</h1>
    <div id="nav">
      <ul>
        <li><%=link_to "Startseite", :root %></li>

        <% if signed_in? %>
          <li><%= link_to("Profil", edit_user_path(current_user)) %></li>
          <li><%= link_to("Gemerkte Fragen", starred_path(current_user)) %></li>
          <li><%= link_to("Historie", history_path(current_user)) %></li>
          <% if admin? %><li><%= link_to("Admin", admin_overview_path) %></li><% end %>
          <% if admin? || reviewer? %><li><%= link_to("Reviews", reviews_path) %></li><% end %>
          <li><%= link_to("Ausloggen", signout_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to("Login", signin_path) %></li>
        <% end %>

        <li><%=link_to "Feedback", feedback_path %></li>
        <li><%=link_to "Hilfe", main_help_path %></li>
      </ul>

      <% if signed_in? %>
        <%= content_tag :span, "eingeloggt als " + current_user.nick %>
        <%= content_tag :script, "window.loggedIn = true;" %>
      <% end %>
    </div>
  </div>

  <% if flash.any? %>
    <div class="flash box">
      <ul>
        <% flash.each do |key, value| %>
          <%= content_tag(:li, value, class: "alert alert-#{key}") %>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= yield %>

<% if admin? %>
  <span style="padding: 5px; position: absolute; top: 0; right: 0; background: white">
    Ladezeit: <span id="load_time">(lädt)</span> seconds<br/>
    <% if defined?(GIT_REVISION) %>
      <a href="https://github.com/breunigs/keks/compare/<%=GIT_REVISION%>...master">noch nicht aktive Änderungen</a>
    <% end %>
  </span>
<% end %>
</body>
</html>
