<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,700|Yanone Kaffeesatz' rel='stylesheet' type='text/css'>
  <title>Keks – Klein, Essbar, Kultig, Süß</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body-noise">
  <header>
    <h1>Keks – Klein, Essbar, Kultig, Süß</h1>
    <nav>
      <ul>
        <li><%=link_to "Startseite", :root %></li>
        <li><%=link_to "Hilfe", main_help_path %></li>
      </ul>

      <%= signed_in? \
        ? current_user.nick + " " + link_to("Ausloggen", signout_path) \
        : link_to("Login", signin_path)
      %>
    </nav>
  </header>

<%= yield %>

</body>
</html>
